<ion-view title="'message'">
	<ion-content scroll='true' ng-init="updateFootersAndSidebar()">
	
	<div class="message-container" ng-controller="messageCtrl" ng-init="setDestinationAndSubject()">
		
		<h2 class="message-title"> <span class="ion-android-mail"></span>  </h2>

  		<div class="list card">
			<label class="item item-input">
		    	<span class="input-label">Destinatário:</span>
		    	<input type="text" ng-model="destination">
		  	</label>
 
			<label class="item item-input">
		    	<span class="input-label">Assunto:</span>
		    	<input type="text" ng-model="subject">
			</label>
		 
			<div class="item item-body">
		    	<textarea style="height: 150px;" id="message-body" placeholder = "Mensagem" ng-model="messageContent"></textarea>
			</div>
		</div>
		
		<div class="loginBtnContainer">
        	<button ng-click="sendMessage()" class="registerBtn button button-calm"> <strong> Enviar Mensagem </strong> </button>
     	</div>
  	</div>

  </ion-content>
</ion-view>