<ion-view title="'mensagens'">
  <ion-content scroll='true'>

  	<div class="messages-container" ng-init="getMyMesssages()">

  	 	<h1 class="messages-title"> <span class="ion-android-mail"></span> Mensagens</h1>

  	 	<div class="card" ng-init="updateFootersAndSidebar()">

        <div ng-repeat="message in messages">
            <a ng-click="loadMessage(message.id)">
             <div nav-clear class="item item-divider trip-header">
                <div class="trip-start-end">
                  De: {{message.sender}}
                </div>
                <div class="trip-date">
                  <i ng-show="message.unread" class="fa fa-envelope fa-lg"></i>
                  <i ng-hide="message.unread" class="fa fa-envelope-o fa-lg"></i>
                </div>
                <div class="trip-times">
                  <p class="subject-decoration">Assunto: {{message.subject}}</p>                
                </div>
              </div>
            </a>
        </div>

  	 	</div>

      <div class="shareBtnContainer">
        <a class="link"> <button nav-clear ng-click="createMessage()" class="registerBtn button button-calm"><strong>Enviar Mensagem</strong></button> </a>
      </div>
  	</div>

   </ion-content>
</ion-view>
