<ion-view title="'message'">
  <ion-content scroll='true'>

  	<div class="message-container" ng-init="loadFooters()">

  		<h2 class="message-title"> <span class="ion-android-mail"></span> Viagem: Porto - Lisboa</h2>

  		<div class="list card">
  			<a ng-href="#/menu/profile" class="link">
		  		<div class="item item-avatar">
		    		<img src="img/User-icon.png">
		    		<h2>Ricardo Neves</h2>
		    		<p>Outubro 14, 2014</p>
		  		</div>
		  	</a>

		  <div class="item item-body">
		    <p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at tincidunt sapien, vel faucibus tellus. Fusce blandit condimentum eros, nec aliquet enim auctor eget. Suspendisse ut consectetur arcu, nec ultricies augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec efficitur, odio at pharetra scelerisque, est velit congue erat, sit amet commodo dui augue at justo. Pellentesque porttitor maximus ex, eu interdum nunc consequat eget. Aliquam suscipit urna a elit tempor scelerisque. Ut efficitur nisl nec erat dignissim tincidunt. Sed porttitor, dolor sit amet tincidunt accumsan, dolor tortor tristique ante, eu interdum justo nisl quis est. Vestibulum volutpat, tellus eget vestibulum pretium, felis turpis sodales metus, et varius tortor neque a tellus. Cras vehicula sit amet felis fringilla porta. Duis interdum ornare commodo. Nulla bibendum at erat quis pellentesque. Nam maximus lorem sed imperdiet tincidunt.
		    </p>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" ng-href="#/menu/messages">
		    	<div nav-clear>
		    		<i class="fa fa-reply fa-2x"></i>
		     		Back
		    	</div>
		    </a>
		    <a class="tab-item" href="#">
		    	<div nav-clear>
		      		<i nav-clear class="icon ion-chatbox"></i>
		       		Reply
		       </div>
		    </a>
		    <a class="tab-item" href="#">
		    	<div nav-clear>
		    		<i nav-clear class="fa fa-trash fa-2x"></i>
		       		Delete
		       </div>
		    </a>
		  </div>
		</div>

  	</div>

  </ion-content>
</ion-view>
