<ion-view title="'message'">
  <ion-content scroll='true'>

  	<div class="message-container" ng-init="updateFootersAndSidebar()">

  		<h2 class="message-title"> <span class="ion-android-mail"></span> {{currentMessage.subject}} </h2>

  		<div class="list card">
  			<a ng-href="#/menu/profile" class="link">
		  		<div class="item item-avatar">
		    		<img src="img/User-icon.png">
		    		<h2>{{currentMessage.sender}}</h2>month
		    		<p>{{currentMessage.month + " " + currentMessage.month_day + ", " + currentMessage.year}}</p>
		    		<p>{{currentMessage.hour + ":" + currentMessage.minute}}</p>
		  		</div>
		  	</a>

		  <div class="item item-body">
		    <p> {{currentMessage.message}} </p>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" ng-href="#/menu/messages">
		    	<div nav-clear>
		    		<i class="fa fa-reply fa-2x"></i>
		     		Back
		    	</div>
		    </a>
		    <a class="tab-item" ng-click="contactCreator(trip.username)">
		    	<div nav-clear>
		      		<i nav-clear class="icon ion-chatbox"></i>
		       		Reply
		       </div>
		    </a>
		    <a class="tab-item" ng-click="deleteMessage(currentMessage.id)">
		    	<div nav-clear>
		    		<i nav-clear class="fa fa-trash fa-2x"></i>
		       		Delete
		       </div>
		    </a>
		  </div>
		</div>

  	</div>

  </ion-content>
</ion-view>
