<ion-view title="'message'">
  <ion-content scroll='true' ng-init="getMessage()">

  	<div class="message-container" ng-init="updateFootersAndSidebar()">

  		<h2 class="message-title"> <span class="ion-android-mail"></span> {{currentMessage.subject}} </h2>

  		<div class="list card">
  			<a ng-href="#/menu/profile" class="link">
		  		<div class="item item-avatar">
		    		<img src="img/User-icon.png">
		    		<h2> {{currentMessage.sender}} </h2>
		    		<div>
		    		<h> {{currentMessage.month + " " + currentMessage.month_day + ", " + currentMessage.year}} </h>
		    		<h style="float:right"> {{currentMessage.hour + ":" + currentMessage.minute}} </h>
		    		</div>
		  		</div>
		  	</a>

		  <div class="item item-body">
		    <p> {{currentMessage.message}} </p>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" ng-click="back()">
		    	<div nav-clear>
		    		<i class="fa fa-reply fa-2x"></i>
		     		Retroceder
		    	</div>
		    </a>
		    <a class="tab-item" ng-click="contactCreator(currentMessage.sender, currentMessage.subject, currentMessage.message)">
		    	<div nav-clear>
		      		<i nav-clear class="icon ion-chatbox"></i>
		       		Responder
		       </div>
		    </a>
		    <a class="tab-item" ng-click="deleteMessage(currentMessage.id)">
		    	<div nav-clear>
		    		<i nav-clear class="fa fa-trash fa-2x"></i>
		       		Apagar
		       </div>
		    </a>
		  </div>
		</div>

  	</div>

  </ion-content>
</ion-view>
