<ion-view title="'profile'">
  <ion-content scroll='true'>

  	<div class="profile-container" ng-init="loadProfile()">
  		
  		<h2 class="profile-title" ng-init="updateFootersAndSidebar()"> <span class="fa fa-user"></span> Perfil</h2>

  		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/User-icon.png">
		    <h2><strong>{{profileInfo.first_name + " " + profileInfo.last_name}}</strong></h2>
		    <div ng-switch = "profileInfo.reputation">
		    	<p ng-switch-when="0">Amador</p>
  				<p ng-switch-when="1">Professional</p>
 				<p ng-switch-default></p> 
		    </div>
		  </div>

		  <div class="item item-body">
		  	<h2>Biografia</h2>
		    <p>
				{{profileInfo.biography}}
		    </p>
		  </div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" ng-click="changeDescription()">
					<div nav-clear>
					  <i class="fa fa-file-text fa-2x"></i>
					   Alterar descrição
					</div>
				</a>
			</div>
		</div>

		<div class="list card">

		  <a href="" class="item item-icon-left">
		    <i class="icon ion-home"></i>
		    {{profileInfo.home_town}}
		  </a>

		  <a href="" class="item item-icon-left">
		    <i class="icon ion-ios7-telephone"></i>
		    {{profileInfo.phone_number}}
		  </a>

		  <a href="" class="item item-icon-left">
		    <i class="icon ion-card"></i>
		    {{profileInfo.citizen_card}}
		  </a>

		  <a href="" class="item item-icon-left">
		    <i class="icon ion-ios7-calendar-outline"></i>
		    {{profileInfo.birth_date}}
		  </a>


		  <a href="" class="item item-icon-left">
		    <i class="icon ion-android-mail"></i>
		    {{profileInfo.email}}
		  </a>

		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" ng-click="changeProfileInfo()">
				<div nav-clear>
				  <i class="fa fa-cog fa-2x"></i>
				   Editar
				</div>
			</a>
			<a class="tab-item" ng-click="changePassword()">
				<div nav-clear>
				  <i class="fa fa-lock fa-2x"></i>
				   Alterar password
				</div>
			</a>
		</div>

  	</div>

  </ion-content>
</ion-view>
