<ion-view title="'Registo'">
  <ion-content scroll='true'>

        <div class="register" ng-controller="registerCtrl">

          <h1 class="loginTitle"> <span class="ion-person-add"></span> Registo</h1>
          
          <div class="registerForm">
            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-android-contact placeholder-icon {{valName}}"></i>
                <input type="text" placeholder="Nome Próprio" ng-model="name" ng-change="validateNamesCallback('firstName')">
              </label>
            </div> 
            
            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-android-contacts placeholder-icon {{valLastname}}"></i>
                <input type="text" placeholder="Apelido" ng-model="lastName" ng-change="validateNamesCallback('lastName')">
              </label>
            </div>
            
            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Username" ng-model="username" ng-change="usernameCallback()">
              </label>
            </div>

            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-help-circled placeholder-icon {{valPassword}}"></i>
                <input type="password" placeholder="Password" ng-model="password" ng-change="passwordCallback()">
              </label>
            </div>

            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-help-circled placeholder-icon {{valConfirmPassword}}"></i>
                <input type="password" placeholder="Confirm password" ng-model="confirmPassword" ng-change="confirmPasswordCallback()">
              </label>
            </div>

            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-email placeholder-icon {{valEmail}}"></i>
                <input type="text" placeholder="Email" ng-model="email" ng-change="validateEmailCallback()">
              </label>
            </div>

            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-ios7-telephone placeholder-icon {{valPhone}}"></i>
                <input type="tel" placeholder="Telémovel" ng-model="phone" ng-change="validateNumbersCallback('phone')">
              </label>
            </div>

            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-man placeholder-icon {{valIdNumber}}"></i>
                <input type="tel" placeholder="Numero BI / CC" ng-model="idNumber" ng-change="validateNumbersCallback('identification')">
              </label>
            </div>

            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-ios7-time placeholder-icon {{valBirthDate}}"></i>
                <input placeholder="Data de Nasciomento (AAAA-MM-DD)" class="textbox-n" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" ng-model="birthdate" ng-change="validateDateCallback()">
              </label>
            </div>
          </div>

            <div class="registerBtnContainer" ng-init="loadFooters()">
              <button nav-clear ng-click="submitRegister()" class="registerBtn button button-calm"> <strong> Regista-te! </strong> </button>
            </div>
        </div>

  </ion-content>
</ion-view>
