<ion-view title="'share_trip'">
  <ion-content scroll='true'>

    <div class="trip-container" ng-controller="shareTripCtrl">
      <h1 class="share-title"> <span class="ion-android-share"></span> Partilhar viagem</h1>

         <div class="location-container">
          <div class="search-container">
            <div class="width-40">
              <div class="width-90">
                <div class="form-list list-insert">
                  <label class="item item-input">
                    <i class="form-icon ion-location placeholder-icon"></i>
                    <input id="start-location-field" type="text" placeholder="Ponto de Partida" ng-model="startPoint">
                  </label>
                </div>
              </div>
              <div ng-click="getCurrentLocation()" class="width-10">
                <i id="search-position-icon" class="fa fa-map-marker fa-2x"></i>
              </div>
            </div>

            <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon ion-pin placeholder-icon"></i>
                <input type="text" placeholder="Ponto de chegada" ng-model="destination">
              </label>
            </div>
        </div>

        <div class="type-container">
          <div class="bar bar-calm title-container">
            <h1 class="title">Tipos de objeto</h1>
          </div>
          <div class="check-container">
            <ion-toggle ng-model="isFragile" toggle-class="toggle-calm">Frágil</ion-toggle>
            <ion-toggle ng-model="isFlamable" toggle-class="toggle-calm">Inflamável</ion-toggle>
            <ion-toggle ng-model="isLarge" toggle-class="toggle-calm">Grandes Dimensões</ion-toggle>
          </div>
        </div>

        <div class="info-container">

          <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon fa fa-eur placeholder-icon"></i>
                <input type="text" placeholder="Preço mínimo" ng-model="minPrice">
              </label>
          </div>

          <div class="form-list list-insert">
              <label class="item item-input">
                <i class="form-icon fa fa-level-up placeholder-icon"></i>
                <input type="text" placeholder="Desvio máximo (minutos)" ng-model="maxDeviation">
              </label>
          </div>

        </div>

         <div class="shareBtnContainer" ng-init="loadFooters()">
            <a ng-href="#/menu/my-trips" class="link"> <button nav-clear ng-click="shareTripSubmit()" class="registerBtn button button-calm"><strong>Partilhar</strong></button> </a>
         </div>

      </div>
    </div>

  </ion-content>
</ion-view>