<ion-view title="'trip'">
  <ion-content scroll='true'>

  <!-- Content --> 
    <div class="trip-container" ng-init="updateFootersAndSidebar()">
      <h1 class="trip-title"> <span class="ion-model-s"></span> {{trip.startPoint}}-{{trip.destPoint}}</h1>

      <div class="list card">

        <div class="item item-avatar">
          <img src="img/User-icon.png">
          <h2>João Loureiro</h2>
          <p>November 05, 2014</p>
        </div>

        <div class="item item-body">
          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">

          <div class="icons-container">
            <table>
              <tr ng-switch="" on="objectType" class="object-icon" ng-repeat="objectType in trip.objectTypes">
                <td ng-switch-when="grandes dimensões">
                  <a style="margin-right: 20px;margin-left: 20px;">
                    <i class="icon-s fa fa-arrows fa-lg"></i>
                  </a>
                </td>
                <td ng-switch-when="inflamável">
                  <a style="margin-right: 20px;margin-left: 20px;">
                    <i class="icon-s fa fa-fire fa-lg"></i>
                  </a>
                </td>
                <td ng-switch-when="frágil">
                  <a style="margin-right: 20px;margin-left: 20px;">
                    <i class="icon-s fa fa-glass fa-lg"></i>
                  </a>
                </td>
                <td ng-switch-default>
                  <a style="margin-right: 20px;margin-left: 20px;">
                    <i class="icon-s fa fa-question fa-lg"></i>
                  </a>
                </td>
              </tr>
            </table>
          </div>

        </div>

      </div>
        <div class="item item-divider my-trip-date-container">
          <div class="my-trip-date">
            {{trip.weekDay}} {{trip.monthDay}} {{trip.month}}
          </div>
        </div>
        <div class="item item-divider my-trip-trip-icon-container">

          <table style="width:100%;">
           <tr>
             <td class="my-trip-location">Porto</td>
             <td></td>
             <td class="my-trip-location">Alfragide</td>
           </tr>
           <tr class="my-trip-trip-icon-container">
           <td></td>
             <td> <img class="my-trip-image" src="img/trip.png"> </td>
           </tr>
          </table>
        </div>

        <div class="list card">
          <a href="" class="item item-icon-left">
            <i nav-clear class="icon fa fa-eur"></i>
            Preço minimo: {{trip.minPrice}} €/objeto
          </a>

          <a href="" class="item item-icon-left">
            <i nav-clear class="icon fa fa-code-fork"></i>
            Desvio máximo: {{trip.maxDesv}} min
          </a>
        </div>       

        <div class="shareBtnContainer">
          <a href="tel:918649442"><button nav-clear class="registerBtn button button-energized"><strong> Contacta-o(a) </strong></button></a>
        </div>

    </div>

  </ion-content>
</ion-view>