<ion-view title="'Welcome'">
	<ion-content scroll='false'>
		<ion-slide-box>
		  <ion-slide>
		    <div class="box blue">
		    	<br>
		    	<h1 class='title-slide'>Antes de mais obirgado(a) por ter escolhido a Carryit</h1>
		    	<br><br>
		    	<h2 class='subtitle-slide'>Se ainda não tens conta pode proceder ao <a nav-clear ng-href="#/menu/registo" class="welcome-link">Registo</a></h2>
		    	<br><br><br>
		    	<h2 class='subtitle-slide'>Se já está registado pode proceder ao <a nav-clear ng-href="#/menu/login" class="welcome-link">Log-in</a></h2>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box blue">
		    	<br>
		    	<h1 class='title-slide'>Com a Carryit será possível:</h1>
		    	<br><br>
		    	<ul>
		    		<li>
		    			<br>
		    			<h2 class='subtitle-slide'>Partilhar viagens com a comunidade</h2>
		    		</li>
		    		<li>
		    			<br>
		    			<h2 class='subtitle-slide'>Procurar viagens adequadas para si</h2>
		    		</li>
		    		<li>
		    			<br>
		    			<h2 class='subtitle-slide'>Trocar mensagens com outros utilizadores</h2>
		    		</li>
		    		<li>
		    			<br>
		    			<h2 class='subtitle-slide'>Obter lucro ajudando os outros</h2>
		    		</li>
		    	</ul>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box blue" on-swipe-left="onSwipeRight()">
		    	<br>
		    	<img src="img/welcome_logo1.png">
		    	<br>
		    	<br>
		    	<br>
		    	<h1 class='title-slide'>Aproveite</h1>
		    </div>
		  </ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view> 