<ion-view title="'Welcome'">
	<ion-content scroll='false'>
		<ion-slide-box>
		  <ion-slide>
		    <div class="box blue">
		    	<br>
		    	<h1 class='title-slide'>Regista-te</h1>
		    	<br><br>
		    	<h2 class='title-slide'>Ou faz log-in com as tuas redes sociais favoritas</h2>
		    	<ul>
		    		<li>
		    			<br>
		    			<h2 class='title-slide'>Facebook</h2>
		    		</li>
		    		<li>
		    			<br>
		    			<h2 class='title-slide'>Google Plus</h2>
		    		</li>
		    	</ul>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box red">
		    	<br>
		    	<h1 class='title-slide'>Transporta e usufrui do serviço</h1>
		    	<br><br>
		    	<h2 class='title-slide'>Partilha as tuas viagens</h2>
		    	<br><br>
		    	<h2 class='title-slide'>Procura viagens</h2>
		    	<br><br>
		    	<h2 class='title-slide'>Pontua o transportador</h2>
		    	<br><br>
		    	<h2 class='title-slide'>Ganha dinheiro</h2>
		    </div>
		  </ion-slide>
		  <ion-slide>
		    <div class="box green" on-swipe-left="onSwipeRight()">
		    	<br>
		    	<h1 class='title-slide'>Transporta e usufrui do serviço</h1>
		    	<br><br>
		    	<h2 class='title-slide'>Partilha as tuas viagens</h2>
		    	<br><br>
		    	<h2 class='title-slide'>Procura viagens</h2>
		    	<br><br>
		    	<h2 class='title-slide'>Pontua o transportador</h2>
		    	<br><br>
		    	<h2 class='title-slide'>Ganha dinheiro</h2>
		    </div>
		  </ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>