.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer {
  margin-top: 50%
}

/**********Login and Register**********/
.login {
  padding-top: 15%;
}

.register {
  padding-top: 15%; 
  padding-bottom: 10%;
}

.loginTitle {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 3%;
}

.registerBtnContainer {
  margin-top: 3%;
  position: relative;
  text-align: center;
  padding-bottom: 5%;
}

.loginBtnContainer {
  margin-top: 3%;
  position: relative;
  text-align: center;
  padding-bottom: 5%;
}

.registerBtn {
  width: 95%;
  border-radius: 20px;
}

.link {
  text-decoration: none;
}

/**********Share-Trip**********/
.check-container {
  padding-top: 10%;
  padding-bottom: 2%;
}

.trip-container {
  padding-top: 15%;
}

.share-title {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 3%;
}

.shareBtnContainer {
  margin-top: 3%;
  position: relative;
  text-align: center;
  padding-bottom: 2%;
}

.location-container {
  padding-bottom: 3%;
}

.type-container {
  padding-bottom: 1%;
}

/**********My-Trips**********/

.trip-start-end {
  float: left;
  display: inline;
}

.trip-date {
  float: right;
  display: inline;
}
.trip-times {
  clear: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.objects-type-table{
    border-collapse: separate;
    border-spacing: 5em 0em; /* notice the second 0em */
    margin: 0px auto; 
}

.del-trip {
  text-align: center;
}

/**********My-Trip**********/

.trip-title {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 3%;
}

.trip-container {
  padding-top: 15%
}

.my-trip-date {
  text-align: center;
  font-size: x-large;
}

.my-trip-points-container {
  text-align: center;
}

.path-line {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: 70%;
  display: inline-block;
  margin-bottom: 2%;
  margin-right: 0px;
  margin-left: 0px;
}

.start-point {
  display: inline-block;
}

.end-point {
  display: inline-block;
}

.object-icon {
  float: left;
}

.icons-container {
  text-align: center;
  display: inline-block;
}

.my-trip-objects-container {
  padding-left: auto;
  padding-right: auto;
}

.my-trip-price-container {
  text-align: center;
}

.my-trip-desv-container {
  text-align: center;
}

.my-trip-image {
  max-width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  height: auto;
  width: auto\9;
}

.my-trip-trip-icon-container {
  text-align: center;
}

.my-trip-location {
  float:left;width:100dp;
}

.my-trip-types-icon {
  margin-left: 50%;
}

/**********Search-Trip**********/
.search-trip-container {
  padding-top: 15%;
}

.available-trips {

}

.width-40 {
  display: inline-block;
  width: 100%;
}

.width-90 {
  float: left;
  width: 92%;
}

.width-10 {
  float: right;
  width: 7%;
  margin-top: 0.4%;
  margin-bottom: 0.5%;
}

.search-container {
  padding-bottom: 3%;
}

.start-point-input {
  float: left;
}

.start-point-gpsicon {
  float: right;
}

/**********Messages**********/
.messages-container {
  padding-top: 15%;
}

.messages-title {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 3%;
}

.subject-decoration {
  text-decoration: underline;
}

/**********Message**********/
.message-container {
  padding-top: 15%;
}

.message-title {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 3%;
}

/**********Profile**********/
.profile-container {
  padding-top: 15%;
}

.profile-title {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 3%;
}

/**********Slide-Box**********/
.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.box {
    width:100%;
    height:100%;
}

.slider {
  height: 100%;
  width: 100%;
}

.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.title-slide {
    color: white;
}


/**********Validation icons**********/

.form-icon {
  font-size: 25px;
  margin-right: 1%;
}

.form-list {
  margin-bottom: 1%;
}

.green-icon {
  color : green;
}

.red-icon {
  color: red;
}

.neutral-icon {
}


/**********Change Password**********/

div.popup-body {
  padding-bottom: 4px;
}

div.popup-buttons {
  padding-top: 2px;
}
div.icon-validate {
  text-align: center;
  padding-top: 4px;
  font-size: 30px;
  color: green;
}


/********Trips*******************/

a{
    text-decoration: none;
}

