<ion-view title="'mensagens'">
  <ion-content scroll='true'>

  	<div class="messages-container">

  	 	<h1 class="messages-title"> <span class="ion-android-mail"></span> Mensagens</h1>

  	 	<div class="card" ng-init="loadFooters()">

            <a ng-href="#/menu/message">
             <div class="item item-divider trip-header">
                <div class="trip-start-end">
                  De: Daniel Moreira
                </div>
                <div class="trip-date">
                  <i class="fa fa-envelope fa-lg"></i>
                </div>
                <div class="trip-times">
                  <p class="subject-decoration">Assunto: Viagem Porto -> Braga</p>                
                </div>
              </div>
            </a>

            <a ng-href="#/menu/message">
              <div class="item item-divider trip-header">
                <div class="trip-start-end">
                  De: Ricardo Neves
                </div>
                <div class="trip-date">
                  <i class="fa fa-envelope fa-lg"></i>
                </div>
                <div class="subject-decoration trip-times">
                  <p>Assunto: Viagem Trofa -> Porto</p>              	
                </div>
              </div>
            </a>

            <a ng-href="#/menu/message">
              <div class="item item-divider trip-header">
                <div class="trip-start-end">
                  De: João Loureiro
                </div>
                <div class="trip-date">
                	<i class="fa fa-envelope-o fa-lg"></i>
                </div>
                <div class="subject-decoration trip-times">
                	 <p>Assunto: Viagem Lamego -> Porto</p>
                </div>
              </div>
            </a>

            <a ng-href="#/menu/message">
    	 		    <div class="item item-divider trip-header">
                <div class="trip-start-end">
                  De: Daniel Moreira
                </div>
                <div class="trip-date">
                  <i class="fa fa-envelope fa-lg"></i>
                </div>
                <div class="subject-decoration trip-times">
                  <p>Assunto: Viagem Porto -> Bragança</p>           	
                </div>
              </div>
            </a>

            <a ng-href="#/menu/message">
              <div class="item item-divider trip-header">
                <div class="trip-start-end">
                  De: Ricardo Neves
                </div>
                <div class="trip-date">
                  <i class="fa fa-envelope-o fa-lg"></i>
                </div>
                <div class="subject-decoration trip-times">
                  <p>Assunto: Viagem Trofa -> Miramar</p>              	
                </div>
              </div>
            </a>

            <a ng-href="#/menu/message">
              <div class="item item-divider trip-header">
                <div class="trip-start-end">
                  De: João Loureiro
                </div>
                <div class="trip-date">
                	<i class="fa fa-envelope-o fa-lg"></i>
                </div>
                <div class="subject-decoration trip-times">
                	 <p>Assunto: Viagem Lamego -> Chaves</p>
                </div>
              </div>
            </a>
  	 	</div>
  	</div>

   </ion-content>
</ion-view>
