<ion-view title="'message'">
  <ion-content scroll='true'>

  	<div class="profile-container" ng-init="loadFooters()">
  		
  		<h2 class="profile-title"> <span class="fa fa-user"></span> Perfil</h2>

  		<div class="list card">
		  <div class="item item-avatar">
		    <img src="/img/User-icon.png">
		    <h2><strong>Ricardo Neves</strong></h2>
		    <p>Experiência: Amador</p>
		  </div>

		  <div class="item item-body">
		  	<h2>Biografia</h2>
		    <p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin tellus nec laoreet egestas. Quisque sit amet tincidunt metus. Phasellus id elementum mauris. Integer dapibus bibendum ipsum eget tincidunt. Sed pharetra vestibulum ipsum et eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam interdum, magna at lacinia tristique, ex elit gravida velit, a posuere dolor neque vel augue. Suspendisse tristique arcu diam, sed dapibus arcu egestas ut. Morbi gravida dolor ut lectus cursus, vel venenatis sem scelerisque. Etiam eros elit, bibendum pulvinar suscipit ut, pretium nec neque. Integer eget lacus fermentum, commodo ipsum ac, eleifend mi.
		    </p>
		  </div>
		</div>
		<div class="list card">

		  <a href="" class="item item-icon-left">
		    <i class="icon ion-home"></i>
		    Trofa
		  </a>

		  <a href="" class="item item-icon-left">
		    <i class="icon ion-ios7-telephone"></i>
		    919987690
		  </a>

		  <a href="" class="item item-icon-left">
		    <i class="icon ion-card"></i>
		    154758458
		  </a>

		  <a href="" class="item item-icon-left">
		    <i class="icon ion-ios7-calendar-outline"></i>
		    09/05/1993
		  </a>


		  <a href="" class="item item-icon-left">
		    <i class="icon ion-android-mail"></i>
		    ricardoneves65@gmail.com
		  </a>

		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
			  <i class="fa fa-cog fa-2x"></i>
			  Editar
			</a>
			<a class="tab-item" href="#">
			  <i class="icon ion-key"></i>
			  Alterar password
			</a>
		</div>

  	</div>

  </ion-content>
</ion-view>