<ion-view title="'Login'">
  <ion-content scroll='true'>

        <div class="login">
          <h1 class="loginTitle"> <span class="ion-person-add"></span> Registo</h1>
          
             <div class="loginForm">
              <label class="item item-input item-floating-label">
                <span class="input-label">Nome Proprio</span>
                <input type="text" placeholder="Nome Próprio">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Apelido</span>
                <input type="text" placeholder="Apelido">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Telémovel</span>
                <input type="text" placeholder="Telémovel">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Numero BI / CC</span>
                <input type="text" placeholder="Numero BI / CC">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Data de Nasciomento (DD/MM/AAAA</span>
                <input type="text" placeholder="Data de Nasciomento (DD/MM/AAAA)">
              </label>
            </div>

            <div class="registerBtnContainer">
              <button class="registerBtn button button-calm"> <strong> Regista-te! </strong> </button>
            </div>

        </div>

  </ion-content>
</ion-view>
