<ion-view title="'Login'">
  <ion-content scroll='false' ng-controller="toogleCtrl">
    <ion-side-menus>

      <!-- Center content -->
      <ion-side-menu-content> 
        <div class="bar bar-header bar-positive">
          <button class="button button-icon icon ion-navicon" ng-click="toggleLeftloggedOut()"></button>
          <div class="h1 title">CarryIt</div>
          <button class="button button-clear button-positive">Registar</button>
        </div>

		    <!-- Content --> 
        <div class="login">
          <h1 class="loginTitle"> <span class="ion-person-add"></span> Registo</h1>
          
             <div class="loginForm">
              <label class="item item-input item-floating-label">
                <span class="input-label">Primeiro Proprio</span>
                <input type="text" placeholder="Nome Próprio">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Apelido</span>
                <input type="text" placeholder="Apelido">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Telémovel</span>
                <input type="text" placeholder="Telémovel">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">umero BI / CC</span>
                <input type="text" placeholder="Numero BI / CC">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Data de Nasciomento (DD/MM/AAAA</span>
                <input type="text" placeholder="Data de Nasciomento (DD/MM/AAAA)">
              </label>
            </div>

            <button class="button button-calm"> <strong> Regista-te! </strong> </button>

        </div>
        
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left">
        <ion-list ng-repeat="x in items">
          <ion-item>
            {{ x.item }}
          </ion-item>
        </ion-list>
      </ion-side-menu>
    </ion-side-menus>

    <!--Footer-->
    <div class="bar bar-footer bar-positive">
      <div class="title">Regressa ao login!</div>
    </div>
  </ion-content>
</ion-view>
